.container {
	margin: 10% auto;
	display: grid;
	border: 1px solid black;
	width:200px;
	height: 265px;
	grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 65px 40px 40px 40px 40px 40px 100px;
	padding: 8px;
	background-color: #374151;
	border-radius: 15px;
	
}
.display{
	border: solid 1px black;
	grid-column-start: 1;
    grid-column-end: span end-start;
	margin: 2px;
	padding-top: 13%;
	padding-right: 3%;
	margin-bottom: 5px;
	background-color: white;
	border-radius: 5px;
	text-align: right;
	font-size: 25px;
}
.button {
	border: solid 1px black;
	margin: 2px;
	background-color: #a05009;
	color: white;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
}

.button:hover {
	background-color: #241203;
}

.ce {
	grid-row-start: 2
	grid-column-start 1;
  	grid-column-end: span 2;
	background-color: #a02009;
}

.plus {
	grid-column-start: 4; 
	grid-row-start: 5; 
  	grid-row-end: span 2; 
	background-color: #a02009;
}